.Rhistory
.Rproj.user/
*.Rproj
*.png
*Thumbs.db
.Rproj.user
temp
*.Rout

starter_files/*.RData
*/cache/
1_spatial/in/CONF_struct_170407.csv
1_spatial/in/POWSTREAMS_NAD83.7z
2_metab_models/cluster/packages
2_metab_models/*/cluster/*
2_metab_models/*/out/fits
2_metab_models/*/out/summaries
2_metab_models/*/out/resummaries
2_metab_models/*/out/temp
2_metab_outputs/out/preds/*
2_metab_outputs/out/tses/*
2_metab_outputs/out/summaries
2_metab_outputs/out/fits
2_metab_outputs/out/*.zip
4_data_release/log/models
4_data_release/log/timeseries
NEWS.html
README.html
.remake
**.DS_Store
.Rprofile
**.xml
**.zip
**stream_metab.yaml