target_default: {{#job}}{{target_name}}{{/job}}

{{#has_include}}
include:
{{#include}}
  - {{.}}
{{/include}}
{{/has_include}}

{{#has_packages}}
packages:
{{#packages}}
  - {{.}}
{{/packages}}
{{/has_packages}}

{{#has_sources}}
sources:
{{#sources}}
  - {{.}}
{{/sources}}
{{/has_sources}}

targets:
{{#job}}
  {{target_name}}:
    depends: 
{{#depends}}
      - {{.}}
{{/depends}}
{{/job}}

{{#tasks}}
  # --- {{task_name}} --- #
  
{{#steps}}
  {{target_name}}:
    command: {{command}}
{{#has_depends}}
    depends:
{{#depends}}
      - {{.}}
{{/depends}}
{{/has_depends}}

{{/steps}}
{{/tasks}}
